<header class="{{ headerClass | default('') }} header">
  <div class="header__container container">
    <div class="header__logo">
      <a href="/"><img src="images/logo.png" alt="Logo" class="logo"></a>
    </div>
    <nav class="header__nav header-nav" aria-label="Main Menu">
      <div class="header-nav__toggler">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </div>
      <ul class="header-menu">
        {% for item in menu %}
          <li class="header-menu__item">
            <a href="{{ item.link }}" class="header-menu__link">{{ item.name }}</a>
          </li>
        {% endfor %}
        <li class="header-menu__item">
          <a href="#contacts" class="button button--primary">Contact us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>