<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title or "My Site" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    <div id="page" class="site">
      {% set headerClass = "site__header" %}
      {% include "components/header.njk" %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include "components/footer.njk" %}
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>