$white: #ffffff;
$dark: #0c122d;
$black: #000;
$gray-400: #575c74;
$gray-50: #F7FDFB;
$gray-100: #ecf0f5;
$gray-200: #e1e6ec;
$blue-500: #0073e6;
$blue-700: #005bb5;
$blue-600: #1b5fc1;
$yellow-500: #ffb800;

$color-accent: $yellow-500;
$color-dark: $dark;
$color-light: $white;
$color-bg-primary: $blue-600;
$color-bg-footer: $gray-100;
$color-bg-page: $gray-50;
$color-border-footer: $gray-200;
$color-btn-primary: $blue-500;
$color-btn-primary-hover: $blue-700;
$color-link-hover: $blue-600;
$color-text-black: $black;
$color-text-dark: $dark;
$color-text-default: $gray-400;
$color-text-primary: $blue-600;
$color-shadow-primary: $blue-600;
